@import url(./pages/common.css);

.dark-section {
  background-color: var(--bg-light-color);
}

.hero-section {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.hero-section > .image {
  max-width: 40rem;
  opacity: 0.2;
}

.slider-menu,
.trending-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slider-menu > .card > .card-media > img {
  overflow: hidden;
  height: 12.5rem;
}
