.nav-logo {
  width: 100%;
}

#home-search {
  width: 20rem;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: column;
}

form {
  background-color: var(--bg-light-color);
  width: 30%;
  padding: 2rem;
  margin: 2rem;
}

.navbar-icon {
  width: 2.5rem;
  margin: 0.5rem;
}

.form-additional {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#btn-Login {
  width: 100%;
}
