@import url(../common.css);

.page-content {
  margin: 2rem;
  padding: 1rem;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.row-flex > p {
  font-weight: 700;
}

.cta-text:hover {
  text-decoration: underline;
}

.filter-section > div {
  margin: 4rem;
}

.sm-text {
  margin-bottom: 0.5rem;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .product-container {
    grid-template-columns: 2fr;
  }
}
